<div class="home-panel" ng-controller="homeController as home">
    <h1>Décibels - Webzine musical montpelliérain</h1>
    <hr class="underH1"></hr>

    <div class="row">
        <div class="col-sm-4 news" ng-include="'/front/components/news/latestNews.html'">
        </div>

        <div class="col-sm-4 gigs" ng-include="'/front/components/gigs/nextGigs.html'">
        </div>

        <div class="col-sm-4 counter" ng-include="'/front/components/counter/counter.html'">
        </div>

    </div>
</div>
