/* ==== GLOBAL ==== */

/* ==== BY CONTAINER ==== */
.navbar {
	border: 0;
}

.navbar-nav > li > a, .navbar-brand {
	line-height: 50px;
}

.navbar-nav > li {
	line-height: 80px;
}

footer {
	background-color: #ccc;
	bottom: 0px;
	position: absolute;
	width: 100%;
}
