/* ==== GLOBAL ==== */

/* ==== BY CONTAINER ==== */
.navbar {
	border: 0;
}

.navbar ul li, .navbar-brand {
	line-height: 80px;
}

footer {
	background-color: #aaa;
	bottom: 0px;
	position: absolute;
	width: 100%;
}
