<div ng-controller="bandsController as bands">
    <h1>Tous les groupes de Montpellier</h1>
    <ul>
        <li ng-repeat="band in bands.listBands">
            <a ng-href="/band/{{band['band_id']}}">{{band['band_name']}}</a>
        </li>
    </ul>

    <h2>Soumettre un groupe</h2>

    <div ng-controller="submitBandController as submitBand">

        <form name="submitBandForm" ng-submit="submitBand.submitForm(submitBandForm.$valid)" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="band_name">Nom du groupe</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="band_name" placeholder="Nom du groupe" ng-model="submitBand.formData.band_name" required>
                </div>
            </div>

            <div class="form-group">
                    <label class="control-label col-sm-2" for="band_style">Style :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="band_style_name" placeholder="Style du groupe" ng-model="submitBand.formData.band_style_name" required>
                    </div>
                    <!--
                    <select class="form-control" id="band_style" ng-model="submitBand.formData.band_style_id" required>
                        <option value="">---- Tous les styles ----</option>
                        <option ng-repeat="style in submitBand.listStyles" ng-value="style['style_id']">{{style['style_name']}}</option>
                    </select>
                    -->
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="band_formed_in">Année de formation (facultatif) :</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="band_formed_in" ng-model="submitBand.formData.band_formed_in" placeholder="Format : yyyy">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Soumettre</button>
                </div>
            </div>


                <div ng-show="submitBand.sent">
                    <h3>Groupe soumis, merci !</h3>
                </div>

                <div ng-show="submitBand.sentError">
                    <h3>Erreur lors de la soumission, veuillez réessayer.</h3>
                </div>

        </form>

    </div>

</div>
